*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

:global(#root) {
  text-align: center;
}

:root {
  --cell-width: 2.5rem;
}

.rangeWrapper {
  display: inline-flex;
  column-gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 6px;
  background-color: #ddd;
}

.month {
  background-color: white;
  border-radius: 6px;
  padding: 1rem;

  .days,
  .dayNames {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .header {
    font-weight: bold;
    text-align: center;
  }

  .cell {
    width: var(--cell-width);
    height: var(--cell-width);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
  }

  .dayNames {
    font-weight: bold;
  }

  .days {
    row-gap: 0.25rem;

    & .cell {
      cursor: pointer;

      &[data-active-month='false'] {
        pointer-events: none;
        opacity: 0.3;
      }

      &[data-active-month='true'] {
        &[data-inrange='true'] {
          background-color: hsla(195deg, 100%, 50%, 1);
          border-radius: 0;
        }

        &[data-start='true'] {
          background-color: hsla(195deg, 100%, 42%, 1);
          border-radius: 4px 0 0 4px;
        }

        &[data-end='true'] {
          background-color: hsla(195deg, 100%, 42%, 1);
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
}
